This part of the script, which come before the first section, is entirely
ignored by templie. You can use it for whatever purpose you wish.

The rest of the file is split in the sections. Sections start 

[Template]
${title}: my name is $firstname ${lastname}
[CONFIG]

template = Template
global_parameters = PARAMTERS
repeater_parameters = REPEATER

[PARAMTERS]

kdkd = 44
hshs = hhshs
kkkk = "ooooooo llllll   "

title = "Here's what I have to say"

y=6

y=99

hshs = 77
kkkkkkkk=l
ooooo=p

[REPEATER]

firstname    lastname

Sergey       Smirnov

Johhny       Kadivnik
Bavo         Mees
Linus        "Torvalds, Jr."
